bower_components/
node_modules/
temp/
tmp/
.tmp/
logs/
log/
results/

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.idea/workspace.xml
src/ts/.idea/workspace.xml
src/ts/.idea/
.idea/tasks.xml
/.tscache
