$eiffel-icon-error: "\e000";
$eiffel-icon-error_outline: "\e001";
$eiffel-icon-warning: "\e002";
$eiffel-icon-add_alert: "\e003";
$eiffel-icon-fast_forward: "\e009";
$eiffel-icon-fast_rewind: "\e00a";
$eiffel-icon-loop: "\e00e";
$eiffel-icon-not_interested: "\e017";
$eiffel-icon-pause: "\e018";
$eiffel-icon-pause_circle_filled: "\e019";
$eiffel-icon-pause_circle_outline: "\e01a";
$eiffel-icon-play_arrow: "\e01b";
$eiffel-icon-play_circle_filled: "\e01c";
$eiffel-icon-play_circle_outline: "\e01d";
$eiffel-icon-replay: "\e025";
$eiffel-icon-skip_next: "\e027";
$eiffel-icon-skip_previous: "\e028";
$eiffel-icon-call_made: "\e041";
$eiffel-icon-call_merge: "\e042";
$eiffel-icon-call_missed: "\e043";
$eiffel-icon-call_received: "\e044";
$eiffel-icon-live_help: "\e050";
$eiffel-icon-backspace: "\e06e";
$eiffel-icon-block: "\e06f";
$eiffel-icon-clear: "\e070";
$eiffel-icon-flag: "\e077";
$eiffel-icon-redo: "\e07e";
$eiffel-icon-remove: "\e07f";
$eiffel-icon-remove_circle: "\e080";
$eiffel-icon-remove_circle_outline: "\e081";
$eiffel-icon-report: "\e084";
$eiffel-icon-undo: "\e08a";
$eiffel-icon-vertical_align_bottom: "\e0f2";
$eiffel-icon-vertical_align_center: "\e0f3";
$eiffel-icon-vertical_align_top: "\e0f4";
$eiffel-icon-wrap_text: "\e0f5";
$eiffel-icon-file_download: "\e0ff";
$eiffel-icon-file_upload: "\e100";
$eiffel-icon-keyboard_arrow_down: "\e10f";
$eiffel-icon-keyboard_arrow_left: "\e110";
$eiffel-icon-keyboard_arrow_right: "\e111";
$eiffel-icon-keyboard_arrow_up: "\e112";
$eiffel-icon-keyboard_backspace: "\e113";
$eiffel-icon-keyboard_capslock: "\e114";
$eiffel-icon-keyboard_return: "\e116";
$eiffel-icon-keyboard_tab: "\e117";
$eiffel-icon-memory: "\e11d";
$eiffel-icon-arrow_back: "\e200";
$eiffel-icon-arrow_drop_down: "\e201";
$eiffel-icon-arrow_drop_down_circle: "\e202";
$eiffel-icon-arrow_drop_up: "\e203";
$eiffel-icon-arrow_forward: "\e204";
$eiffel-icon-cancel: "\e205";
$eiffel-icon-check: "\e206";
$eiffel-icon-chevron_left: "\e207";
$eiffel-icon-chevron_right: "\e208";
$eiffel-icon-close: "\e209";
$eiffel-icon-expand_less: "\e20a";
$eiffel-icon-expand_more: "\e20b";
$eiffel-icon-fullscreen: "\e20c";
$eiffel-icon-fullscreen_exit: "\e20d";
$eiffel-icon-menu: "\e20e";
$eiffel-icon-keyboard_control: "\e20f";
$eiffel-icon-more_vert: "\e210";
$eiffel-icon-refresh: "\e211";
$eiffel-icon-unfold_less: "\e212";
$eiffel-icon-unfold_more: "\e213";
$eiffel-icon-do_not_disturb_alt: "\e217";
$eiffel-icon-do_not_disturb: "\e218";
$eiffel-icon-sim_card_alert: "\e228";
$eiffel-icon-sms: "\e229";
$eiffel-icon-sms_failed: "\e22a";
$eiffel-icon-sync: "\e22b";
$eiffel-icon-sync_disabled: "\e22c";
$eiffel-icon-sync_problem: "\e22d";
$eiffel-icon-share: "\e25a";
$eiffel-icon-check_box: "\e25c";
$eiffel-icon-check_box_outline_blank: "\e25d";
$eiffel-icon-announcement: "\e26f";
$eiffel-icon-autorenew: "\e278";
$eiffel-icon-build: "\e27e";
$eiffel-icon-cached: "\e27f";
$eiffel-icon-change_history: "\e280";
$eiffel-icon-check_circle: "\e281";
$eiffel-icon-code: "\e284";
$eiffel-icon-delete: "\e287";
$eiffel-icon-done: "\e28a";
$eiffel-icon-done_all: "\e28b";
$eiffel-icon-help: "\e29b";
$eiffel-icon-highlight_remove: "\e29c";
$eiffel-icon-hourglass_empty: "\e29f";
$eiffel-icon-hourglass_full: "\e2a0";
$eiffel-icon-info: "\e2a2";
$eiffel-icon-info_outline: "\e2a3";
$eiffel-icon-report_problem: "\e2c6";
$eiffel-icon-trending_down: "\e2f5";
$eiffel-icon-trending_neutral: "\e2f6";
$eiffel-icon-trending_up: "\e2f7";
$eiffel-icon-visibility: "\e306";
$eiffel-icon-visibility_off: "\e307";
$eiffel-icon-help_outline: "\e30f";
$eiffel-icon-indeterminate_check_box: "\e319";
$eiffel-icon-offline_pin: "\e31a";
$eiffel-icon-github: "\eab1";
$eiffel-icon-chrome: "\eae5";
