var vees;
vees.builtin.classes.put(function(c, a, p) {
  "use strict";
  c(

    "CLASSNAME",
    ["ANY"],

    // Fields
    [

    ],

    // Functions
    [

    ],

    // Procedures:
    [

    ],

    // Constants
    [

    ],

  );

});
